@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;800&display=swap');

html{
    scroll-behavior: smooth;
}

:root {
    --myColor: #cba10a;
    --myBackground: black;
    --Sectionbackground: rgb(236, 236, 220);
}

*{
    box-sizing: border-box;
}

#blog_preloader{
    background: white url(../images/preloader2.gif) no-repeat center center;
    background-size: 90px;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: none;
  }
  
  #blog_preloader.show{
    display: block;
  }


body{

    font-family: Poppins,sans-serif;
    margin: auto;
    width: 100%;
    overflow-x: hidden;
    overflow: overlay;
}


/* ------------------------------------------------------------------------------------------------------------------------------ */


/* custom scrollbar */

body::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  }
   
body::-webkit-scrollbar-thumb {
    background-color: var(--myColor);
    border-radius: 2px;
  }
    
/* End of custom scrollbar */

/* ------------------------------------------------------------------------------------------------------------------------------ */

/* Parent container */

div.leftBlogSide{
    display: flex;
    flex-direction: column;
    padding: 10px 7px;
    text-align: center;
    gap: 12px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(88, 86, 86);
    width: 23%;
    max-height: auto;
    /* box-shadow: 0px 0px 5px gray; */
}

div.leftBlogSide h3{
    font-size: 25px;
    color: white;
}

div.leftBlogSide img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  padding: 0 53px;
}

div.leftBlogSide p{
    font-size: 16px;
    color: white;
    font-family: calibri;
}

div.leftBlogSide p a{
    color: var(--myColor);
}

div.rightBlogSide{
    margin-left: 23vw;
}

div.blogSocioMedia{
    padding-right: 39px;
}

div.blogSocioMedia ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    gap: 1vw;
}

div.blogSocioMedia ul li{
    background-color: white;
    padding: 4px 9px;
    border-radius: 50%;
}


div.blogSocioMedia ul li a{
    font-size: 15px;
    color: var(--myColor);
}

p.siteRole{
    background-attachment: fixed;
    background-image: url(../images/sabyinyo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 5px;
}

/* Parent container */

/* ---------------------------------------------------------------------------------- */


/* prenav section */
div.userProfile{
    margin: auto 20px auto auto;
}

div.preNavLogo{
    padding: 0 11% 0 50%;
    width: 100%;
}
div.preNavLinks{
    display: grid;
    grid-template-columns: 15% 60% 25%;
    align-items: center;
    width: 100%;
}

div.preNavDocumentation{
    display: unset;
}

div.preNavSocioMedia{
    margin-right: -100px;
}

a.preNavExercises div{
    padding: 0;
    font-size: 1rem;
    color: var(--myBackground);
    transition: all 1s;
}

a.preNavExercises div:hover{
    background-color: unset;
}

div.preNavDocumentation a div h5{
    transition: all 1s;
}

div.preNavDocumentation a div h5::before{
content: ">";
padding-right: 10px;
font-weight: bold;
color: black;
}

div.preNavDocumentation a div h5:hover{
        transform: scale(1.1,1.1);
}

nav.dropDown menuitem > menu {
    top: 30px;
}

nav.dropDown a {
    font-size: 1.7vw;
    padding: 1.5vw 5vw;
}

a.preNavExercises div h5{
    font-size: 1.4vw;
}

div.preNavLogin h5 a{
    font-size: 1.6vw;
}

/* End of prenav section */


/* Navigation bar */    

div.logo{
    display: none;
}

div.navbar{
    grid-template-columns: auto;
    padding: 0 10px 0 0px;
}

.navlinks ul{
    display: flex;
    align-items: center;
    gap: 3.5vw;
}

.navlinks ul li a{
    text-decoration: none;
    font-size: 1.7vw;
    font-weight: bold;
    transition: all 1s;
}

ul li.loginlinksLi a{
font-size: 1.7vw;
}



/* End of navigation bar */





/* ------------------------------------------------------------------------------------------------------------------------------ */

 /*Blog section */

 section.Blog{
    /* padding: 0px 0px; */
 }

 div.myBlog{
    /* display: flex;
    flex-direction: column;
    gap: 0vw; */
 }

div.blogBoxes{
    display: grid;
    grid-template-columns: 27% 70%;
    gap: 3%;
    border-bottom: 1px solid rgb(131, 131, 131);
    padding: 40px;
}

div.blogImage{
    display: flex;
    align-items: center;
}

div.blogImage img{
    width: 100%;
}

div.blogAuthor{
    display: flex;
    align-items: center;
    gap: 13px;
}

div.blogAuthor small{
    font-size: 12.5px;
    font-weight: bold;
    color: rgb(131, 131, 131);
}

div.blogAuthor small a{
    text-decoration: none;
    font-weight: bold;
    font-size: 13.5px;
    font-family: poppins;
    color: rgb(131, 131, 131);
}


p.ContentSection{
    text-align: justify;
    font-family: calibri;
}
div.blogContent h3 a{
    text-decoration: none;
    color: black;
    font-size: 23px;
}

div.blogContent h3 a:hover{
    text-decoration: underline;
}

p.blogLikesComments{
    color: rgb(131, 131, 131);
    font-weight: bold;
    font-size: 0.80vw;
}

a.readmore{
    color: var(--myColor);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

div.authorImageCharts{
    background: black;
    color: #cba10a;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    line-height: 39px;
    font-weight: bold;
    font-size: 18.5px;
    cursor: pointer;
    text-align: center;
    padding-right: 2.5px;
}
div.authorImageChartsSingleBlog{
    background: black;
    color: #cba10a;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    font-weight: bold;
    font-size: 18.5px;
    cursor: pointer;
    text-align: center;
    padding-right: 2.5px;
}

img.AuthorImage{
    width: 38px;
    border-radius: 50%;
}

/* End of Blog section */





/* Pagination */

/* div.myPagination{
    margin-bottom: 4vw;
} */
ul.pageLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding: 10px;
    list-style-type: none;
    align-items: center;
}
ul.pageLinks button{
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: var(--myBackground);
    background-color: var(--myColor);
    border-radius: 5px;
    padding: 4px 15px;
}

ul.pageLinks button:hover{
    background-color: var(--myBackground);
    color: var(--myColor);
    cursor: pointer;
}


/* End of pagination */


/* ------------------------------------------------------------------------------------------------------------------------------ */





/* -------------------------------------------------------------------------------------------------------------------------- */



/* End of northArrow direction */

/* -------------------------------------------------------------------------------------------------------------------------- */




/* Responsive Designs */
@media only screen and (max-width: 1300px) {
    /* .homeboxesContainer a{
        display: block;
      }

      div.leftBlogSide p{
        font-size: 1.3vw;
        color: white;
        font-family: calibri;
    }

    ul.pageLinks button{
        font-size: 1vw;
        padding: 0.3vw 1vw;
    } */

}

@media only screen and (max-width: 1205px) {
   

    
}

@media only screen and (max-width: 1108px) {

     /* Parent container */

     div.leftBlogSide{
        display: grid;
        text-align: center;
        gap: unset;
        position: unset;
        left: unset;
        top: unset;
        bottom: unset;
        width: 100%;
        max-height: auto;
    }
    
    div.rightBlogSide{
        margin-left: unset;
    }

    div.leftBlogSide img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: auto auto 12px auto;
        vertical-align: middle;
        padding: unset;
      }
    
    
   
    
    /* Parent container */
    
    


}

@media only screen and (max-width: 937px) {

   

    
/* Blog section */

    div.blogBoxes{
        grid-template-columns: 30% 67%;
        padding: 10px 25px 30px;
    }


/* End of Blog section */




}

/* End of footer section */

@media only screen and (max-width: 801px) {

    


    
   
}


@media only screen and (max-width: 730px) {

    

/*Blog section */

div.blogBoxes{
    grid-template-columns: auto;
    gap: 0%;
    border-bottom: 1px solid rgb(131, 131, 131);
    padding: 30px 20px;
}


/* End of Blog section */

 





}



@media only screen and (max-width: 600px) {

    /* -------------------------------------------------------------------------------- */

   



/* -------------------------------------------------------------------------------- */

@media only screen and (max-width: 313px) {
    body{
        overflow-x: hidden;
    }
}

    /* End of Responsive Designs */
  
}


