@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;800&display=swap');


*{
    box-sizing: border-box;
}


body{
    font-family: Poppins;
    margin: 0;
}


/* Navigation bar */

.navbar{
    display: grid;
    grid-template-columns: 30% 55% 15%;
    align-items: center;
}

.logo a{
    text-decoration: none;
    font-weight: bold;
    color: #2E667D;
}

.logo {
    /* padding-left: 60px; */
    text-align: center;
    font-size: 25px;
}

.navlinks ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navlinks ul li{
    list-style-type: none;
}

.navlinks ul li a{
    text-decoration: none;
    color: #2E667D;
    font-size:20px;
}

a.loginlinks{
    text-decoration: none;
    text-align: center;
    color: #2E667D;
    font-size:20px;
}

.loginlinks{
    border: 3px solid #2E667D;
    border-radius: 20px;
    padding: 5px 15px;
    margin-right: 37px;
}

.loginlinks:hover{
    color: white;
    background-color: #2E667D;
}

.loginlinks a:hover{
    color: white;
}

.navlinks ul li a:hover{
    color: orangered;

}

/* End of navigation bar */


.profile {
    background-image: url('../images/DELTA_218.jpg');
    height: 450px;
    width: 100%;
    background-size: cover;
    padding-top: 90px;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}

div.intro {
    /* background-color: lightblue; */
    width: 20%;
    height: 15%;
    padding: 20px;
    position: absolute;
    top: 150px;
}



div.about{
    background-color: #2E667D;
    margin-top: -20px;
    padding: 20px;
}

div.myAbout{
    border: 1px dotted white;
    margin: 200px 10px 100px;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 100px;
    padding: 50px;
    border-radius: 30px;
}

div.left{
    text-align: center;
    padding: 10px 90px 70px 20px;
}

div.left p{
    text-align: justify;
    color: white;
}

div.right img{
    height: 240px;
    margin-bottom: -7px;
    border-radius: 10%;
}

div.homeboxes{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}

div.boxes img{
    height: 200px;
    width: 280px;
    padding: 10px;
}

div.boxes{
    background-color: white;
    height: 300px;
    margin-top: -150px;
}

button.downloadCV{
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: border-radius 1s, padding 1s, background-color 1s, color 1s, box-shadow 1s;
    box-shadow: 1px 3px 5px black;
}

button.downloadCV:hover{
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    background-color: black;
    color: white;
    box-shadow: 1px 3px 3px black;
}



/* section skills */

section.Skills{
    padding: 150px;
}

div.mySkillsTitle{
    text-align: center;
}

div.mySkills{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 20px;
}

div.skills_boxes{
    background-color: white;
    box-shadow: 0px 0px 20px gray;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    cursor: pointer;
}

div.box1{
    transition: height 1s, width 1s, background-color 1s, color 1s;
}

div.box1:hover{
    background-color: rgb(10, 76, 147);
    height: 86%;
    width: 102%;
    color: white;
}

div.box2{
    transition: height 1s, width 1s, background-color 1s, color 1s;
}

div.box2:hover{
    background-color: #5D6D7E;
    height: 86%;
    width: 102%;
    color: white;
}

div.box3{
    transition: height 1s, width 1s, background-color 1s, color 1s;
}

div.box3:hover{
    background-color: #1C2833;
    height: 86%;
    width: 102%;
    color: white;
}

div.box4{
    transition: height 1s, width 1s, background-color 1s, color 1s;
}

div.box4:hover{
    background-color: burlywood;
    height: 86%;
    width: 102%;
    color: white;
}

div.box5{
    transition: height 1s, width 1s, background-color 1s, color 1s;
}

div.box5:hover{
    background-color: #5D6D7E;
    height: 86%;
    width: 102%;
    color: white;
}

div.box6{
    transition: height 1s, width 1s, background-color 1s, color 1s;
}

div.box6:hover{
    background-color: #2E667D;
    height: 86%;
    width: 102%;
    color: white;
}




div.skills_icons{
    margin-top: -20%;
}

div.skills_icons i{
    color:white;
    font-size: 35px;
    background-color: #2E667D;
    padding: 15px;
    border-radius: 50%;
}

/* End of section */
