@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;800&display=swap');

html{
    scroll-behavior: smooth;
}

:root {
    --myColor: #cba10a;
    --myBackground: black;
    --Sectionbackground: rgb(236, 236, 220);
}

*{
    box-sizing: border-box;
}


body{

    font-family: Poppins,sans-serif;
    margin: auto;
    width: 100%;
    overflow-x: hidden;
    overflow: overlay;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */


/* custom scrollbar */

body::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  }
   
body::-webkit-scrollbar-thumb {
    background-color: var(--myColor);
    border-radius: 2px;
  }
    
/* End of custom scrollbar */

/* ------------------------------------------------------------------------------------------------------------------------------ */

/* PreNav Section */

section.preNav{
    background-color: var(--myColor);
    width: 100%;
}

div.preNavLinks{
    display: grid;
    grid-template-columns: 18% 32% 50%;
    align-items: center;
    width: 100%;
}

div.preNavLogo{
    padding: 0 5% 0 70%;
    width: 100%;
}

div.preNavLogo a img{
    max-width: 120%;
    transition: all 1s;
}

div.preNavLogo a img:hover{
    transform: scale(1.2, 1.2);
    opacity: 0.8;
}

div.preNavDocumentation{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}




a.preNavExercises{
    position: relative;
    transition: all 1s;
}

a.preNavExercises div{
    padding: 1.25em;
    font-size: 1rem;
    color: var(--myBackground);
    /* transition: all 1s; */
}

a.preNavExercises div:hover{
    background-color: white;
}


a.preNavExercises:hover .gisDropDown{
    display: block;
}

a.preNavExercises div h5{
    font-size: 1vw;
}



/* ----------------------------------------------------------------------------------------------------  */

/* dropdown */


 /* dropdown */
/* ------------------------------------------------------------------------------------------------------------ */



div.preNavDocumentation a {
    font-size: 14%;
    color: black;
    text-decoration: none;
}

div.gisexercises{
    position: relative;
}

div.gisDropDown{
    position: absolute;
    z-index: 3;
    top: 110px;
    left: 0;
    background-color: white;
    width: 740%;
    height: 200px;
    display: none;
    border-radius: 5px;
}



div.gisDropDown p{
    color: black;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    padding-left: 20px;
}

div.preNavLogin h5 a{
   
    font-size: 1vw;
    color: black;
    text-decoration: none;
    background-color: var(--myColor);
    padding: 5px 20px 5px 20px;  
    border: 2px solid white;
    border-radius: 20px;
    transition: all 1s;
}

div.preNavLogin h5 a:hover{
    font-size: 14px;
    color: black;
    text-decoration: none;
    color: var(--myColor);
    background-color: white;
    padding: 5px 20px 5px 20px;  
    border: 2px solid white;
    border-radius: 20px;
}

div.preNavSocioMediaLogin{
    display: flex;
    justify-content: space-around;
}

div.preNavSocioMedia ul{
    display: flex;
    list-style-type: none;
}


div.preNavLinks ul li a{
    font-size: 20px;
    justify-content: center;
    padding-right: 30px;
    color: var(--myBackground);
}

div.preNavLinks ul li a:hover{
    color: white;
}
/* End of preNav Section */

/* ------------------------------------------------------------------------------------------------------------------------------ */


/* Navigation bar */


nav.menu-btn{
    display: block;
}

section.nav{
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0.1px 1px 2px grey;
    z-index: 2;
}

div.navbar{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    width: 100%;
}

nav{
    display: grid;
    grid-template-columns: 75% 23%;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.logo a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    padding: 0;
    color: var(--myBackground);
}

.logo {
    text-align: center;
    width: 100%;
}

.logo a:hover{
    opacity: 0.5;
}

div.toggleButton{
    display: none;
}

li.closeButton{
    display: none;
}


.navlinks ul{
    display: flex;
    align-items: center;
    gap: 3.5vw;
}

.navlinks ul li{
    list-style-type: none;
}

.navlinks ul li a{
    text-decoration: none;
    color: var(--myBackground);
    font-size: 1vw;
    font-weight: bold;
    transition: all 1s;
}

.navlinks ul li a:hover{
    color: var(--myColor);
    padding-top: 10px;
    border-top: 3px solid var(--myColor);
}

ul li.active a{
    color: var(--myColor);
    padding-top: 10px;
    border-top: 3px solid var(--myColor);
}


a.loginlinks{
    text-decoration: none;
    text-align: center;
    color: var(--myBackground);
    font-weight: bold;
}

ul li.loginlinksLi{
    border: 3px solid var(--myColor);
    border-radius: 20px;
    padding: 0.15vw 0.8vw;
    margin-right: 3vw;
    list-style-type: none;
}

ul li.loginlinksLi:hover{
    color: white;
    background-color: var(--myColor);
}

ul li.loginlinksLi a{
  font-size: 1vw;
}

ul li.loginlinksLi a:hover{
    color: white;
}


/* End of navigation bar */


/* ------------------------------------------------------------------------------------------------------------------------------ */



/* Home section */

.profile {
    background-image: url('../images/sabyinyo.jpg');
    background-attachment: fixed;
    height: 35vw;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}

div.intro {
    width: 100%;
    height: 50%;
    padding: 2.5vw;
    position: absolute;
    top: 70px;
}

div.intro p{
    color: var(--myColor);
    font-size: 4vw;
    font-weight: bold;
}

div.intro p span{
    color: white;
}

/* End of home section */

/* Homeboxes section */

section.homeboxesContainer{
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  background-color: var(--Sectionbackground);
}

.homeboxesContainer a.switchLeft,
.homeboxesContainer a.switchRight{
    color: var(--myColor);
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    font-family: sans-serif;
    top: 0;
    cursor: pointer;
    z-index: 1;
    background-color: black;
    height: 50px;
    border-radius: 50%;
}

.homeboxesContainer a{
  display: none;
}

.homeboxesContainer a.switchLeft{
    position: absolute;
    left: 10px;
    top: 193px;
    padding: 0 5px 0 5px ;
}

.homeboxesContainer a.switchRight{
    position: absolute;
    right: 10px;
    top: 193px;
    padding: 0 5px 0 5px;
}

div.homeboxes{
    height: 450px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 25px 50px 25px;   
}


div.boxes img{
    transition: all 1s;
}

div.boxes p{
    color: var(--myBackground);
    font-weight: bold;
    text-align: center;
    font-size: 13px;
}


div.boxes p:hover{
    color: var(--myBackground);
}

div.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    height: 350px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    padding: 35px;
    transition: all 1s;
    margin-top: -25px;
}

div.boxes:hover{
    background-color: var(--myColor);
    transform: scale(0.9, 0.9);
}

div.homeboxes div.boxA img{
    width: 280px;
    height: 250px;
  }

div.homeboxes div.boxB img{
    width: 280px;
  height: 250px;
}

div.homeboxes div.boxC img{
    width: 280px;
    height: 250px;
  }

/* End of Homeboxes section */


/* ------------------------------------------------------------------------------------------------------------------------------ */


/* About section */

div.about{
    background-color: var(--Sectionbackground);
    padding: 0vw 10vw 0.3vw 10vw;
    width: 100%;
}

div.myAbout{
    background-color: var(--Sectionbackground); 
    border: 3px dotted var(--myColor);
    margin: 2vw 0 7vw;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 7vw;
    padding: 5vw;
    border-radius: 30px;
    width: 100%;
}

div.left{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0 1.5vw;
}
div.left h5{
    color: var(--myBackground);
    font-size: 1.3vw;
}

div.left h2{
  font-size: 2vw;
}

div.left p{
    font-family: calibri;
    font-size: 1.3vw;
    text-align: justify;
    color: var(--myBackground);
    padding-left: 6vw;
    padding-right: 6vw;
}


div.right img{
    width: 25vw;
    height: 30vw;
    border-radius: 30px;
    border: 1px solid var(--myBackground);
}


button.downloadCV{
    padding: 5px 10px 5px 10px;
    font-size: 1.1vw;
    border-radius: 15px;
    cursor: pointer;
    /* transition: border-radius 1s, padding 1s, background-color 1s, color 1s, box-shadow 1s; */
    transition: all 1s;
    box-shadow: 1px 3px 5px gray;
}

button.downloadCV:hover{
    /* padding: 10px 15px 10px 15px; */
    transform: scale(1.1, 1.1);
    border: var(--myColor);
    border-radius: 15px;
    background-color: var(--myBackground);
    color: white;
}


/* End of about section */


/* ------------------------------------------------------------------------------------------------------------------------------ */

/* section skills */

section.Skills{
    padding: 4vw 7vw;
    width: 100%;
}

div.mySkillsTitle{
    text-align: center;
    width: 100%;
}

div.mySkills{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2.5vw;
    padding: 1.2vw;
    width: 100%;
}

div.skills_boxes{
    background-color: white;
    box-shadow: 0px 0px 20px gray;
    text-align: center;
    padding: 2.4vw;
    border-radius: 10px;
    margin-top: 1.5vw;
    margin-bottom: 2.4vw;
    cursor: pointer;
}

div.skills_text h4{
    font-size: 1.2vw;
}

div.skills_text p{
    font-family: calibri;
    font-size: 1.16vw;
}

div.box1{
    transition: all 1s;
}

div.box1:hover{
    background-color: rgb(10, 76, 147);
    transform: scale(1.1, 1.1);
    color: white;
}

div.box2{
    transition: all 1s;
}

div.box2:hover{
    background-color: #4A235A;
    transform: scale(1.1, 1.1);
    color: white;
}

div.box3{
    transition: all 1s;
}

div.box3:hover{
    background-color: #1C2833;
    transform: scale(1.1, 1.1);
    color: white;
}

div.box4{
    transition: all 1s;
}

div.box4:hover{
    background-color: #5D6D7E;
    transform: scale(1.1, 1.1);
    color: white;
}

div.box5{
    transition: all 1s;
}

div.box5:hover{
    background-color: #6E2C00;
    transform: scale(1.1, 1.1);
    color: white;
}

div.box6{
    transition: all 1s;
}

div.box6:hover{
    background-color: #2E667D;
    transform: scale(1.1, 1.1);
    color: white;
}


div.skills_icons{
    margin-top: -20%;
    width: 100%;
}

div.skills_icons i{
    color:white;
    font-size: 2.4vw;
    background-color: var(--myColor);
    padding: 1.1vw;
    border-radius: 50%;
}

div.skills_icons img{
    width: 20%;
}
/* End of skills section */

/* ------------------------------------------------------------------------------------------------------------------------------ */

/* My Work section */
div.myWork{
    background-color: var(--Sectionbackground);
    padding-top: 4vw;
    width: 100%;  
}

div.myWorkTitle{
    text-align: center;
    margin-bottom: -8vw;
    width: 100%;
}

div.myWorkGrids{
    display: grid;
    position: relative;
    z-index: 0;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding: 10vw;
    gap: 4vw;
    width: 100%;
}


div.myWorkGridBox{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 1.3vw 1vw 2vw;
    box-shadow: 1px 1px 20px grey;
    position: relative;
    border-radius: 5%;
}


div.myWorkGridBox h4{
    text-align: center;
    font-size: 1.2vw;
}

div.myWorkGridBox a img{
    width: 80%;
}

div.myWorkGridBox a img:hover{
    opacity: 0.6  ;
}

div.myWorkDesign1{
    background-color: var(--myColor);
    border-top-left-radius: 15px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}

div.myWorkDesign3{
    background-color: var(--myColor);
    border-top-right-radius: 15px;
    width: 160px;
    height: 150px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: -1;
}

div.myWorkDesign4{
    background-color: var(--myColor);
    border-bottom-left-radius: 15px;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    z-index: -1;
}

div.myWorkDesign6{
    background-color: var(--myColor);
    border-bottom-right-radius: 15px;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
}
/* End of my work section */



/* ------------------------------------------------------------------------------------------------------------------------------ */


/* Services section */

section.services{
    background-image: url(../images/sabyinyo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
}
div.myServicesGrids{
    display: flex;
    padding: 11vw;
    width: 100%;
}

div.myServicesTitle{
    text-align: center;
    color: white;
    margin-bottom: -8vw;
    padding-top: 60px;
    width: 100%;
}

div.serviceBox1{
    background-color: var(--myColor);
    color: var(--myBackground);
    transition: all 1s;
}

div.serviceBox1:hover{
    opacity: 0.7;
    cursor: pointer;
}

div.serviceBox2{
    background-color: white;
    transition: all 1s;
}

div.serviceBox2:hover{
    opacity: 0.7;
    cursor: pointer;
}

div.serviceBox3{
    background-color: var(--myColor);
    color: var(--myBackground);
    transition: all 1s;
}

div.serviceBox3:hover{
    opacity: 0.7;
    cursor: pointer;
}

div.serviceBox4{
    background-color: white;
    transition: all 1s;
}

div.serviceBox4:hover{
    opacity: 0.7;
    cursor: pointer;
}

div.myServicesBoxes{
    text-align: center;
    padding: 1.7vw;
}

div.myServicesBoxes h4{
    font-size: 1.3vw;
}

div.myServicesBoxes p{
    font-family: calibri;
    font-size: 1.2vw;
}

div.myServicesBoxes img{
    width: 6vw
}

div.serviceBox3 img{
    width: 9.5vw;
}
/* End of services section */


/* ------------------------------------------------------------------------------------------------------------------------------ */


/* Contact section */
div.myContact{
    display: grid;
    grid-template-columns: 20% 40%;
    justify-content: space-around;
    padding-bottom: 70px;
    width: 100%;
}

div.contactform{
    width: 100%;
}

div.contactform form{
    display: flex;
    flex-direction: column;
}

div.contactform h2{
    text-align: center;
    margin: 4vw 4vw 2vw;
    color: black;
}

div.contactform form input, textarea{
    margin-bottom: 1.5vw;
    padding: 1vw;
    border: 2px solid grey;
    border-radius: 10px;
    
}

div.contactform form input[type="submit"]{
    width: 15%;
    font-size: 1.5vw;
    padding: 0.5vw;
    background-color: rgb(39, 38, 38);
    box-shadow: grey;
    color: white;
    transition: all 1s;
}

div.contactform form input[type="submit"]:hover{
    background-color: var(--myColor);
    border: 1px solid white;
    box-shadow: grey;
    transform: scale(0.8, 0.8);
    color: white;
    cursor: pointer;
}

div.contactpicture{
    margin-top: 15vw;
    width: 100%;
}

div.contactpicture img{
    width: 160%;
    height: 80%;
}

div.contactpicture:hover{
    opacity: 0.7;
}

div.contactform p{
    font-family: calibri;
    font-size: 1.4vw;
    text-align: center;
}

div.contactform span a{
    color: var(--myColor);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}


/* End of contact section */


/* ------------------------------------------------------------------------------------------------------------------------------ */



/* Footer section */
div.myFooter p, div.myFooter h2, div.myFooter h3, div.myFooter h4, div.myFooter a{
    color: white;
}

div.myFooterTopForm input[type="email"] {
    padding: 0.8vw 10vw 0.8vw 0.8vw;
    border-radius: 5px;
}

div.myFooterTopForm input[type="email"]::placeholder{
    font-size: 1vw;
}

div.myFooterTopForm input[type="submit"] {
    padding: 0.8vw;
    font-size: 1vw;
    background-color: var(--myColor);
    border-radius: 5px;
}

div.myFooterTopForm input[type="submit"]:hover {
    background-color: grey;
    cursor: pointer;
}

div.myFooterTop{
    display: grid;
    grid-template-columns: 40% 40%;
    align-items: center;
    gap: 0 4vw;
    padding-left: 5vw;
    padding-top: 3vw;
    background-color: rgb(39, 38, 38);

}

div.myFooterTopBeFirst h3, div.myFooterTopBeFirst p{
    font-size: 1.25vw;
}


div.myFooterTop p.border{
    border-top: 1px solid rgb(83, 81, 81);
}


div.myFooterBottom{
    display: grid;
    grid-template-columns: 40% 20% 20%;
    justify-content: center;
    gap: 5vw;
    background-color: rgb(39, 38, 38);
    padding-top: 1vw;
    width: 100%;
}

div.myFooterAbout h4{
    text-align: left;
    font-size: 1.25vw;

}

div.myFooterAbout p{
    text-align: justify;
    font-size: 1.15vw;
}

div.myFooterLinks h4{
    text-align: center;
    font-size: 1.25vw;
}

div.myFooterLinks{
    padding-right: 5vw;
}

div.myFooterLinks ul li{
    list-style-type: none;
    margin-left: 1vw;
    transition: all 1s;
}


div.myFooterLinks ul li:hover{
    margin-left: 2.5vw;
}

div.myFooterLinks ul li::before{
    content: ">";
    padding-right: 0.8vw;
    font-weight: bold;
    color: white;
}

div.myFooterLinks ul li a{
    text-decoration: none;
    font-size: 1vw;
    line-height: 2.8vw;
}

div.myFooterLinks ul li a:hover{
    font-weight: bold;
}


div.myFooterSocialMedia h4{
    text-align: left;
    padding-left: 3vw;
    padding-bottom: 0.6vw;
    font-size: 1.25vw;
}

div.myFooterSocialMedia ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

div.myFooterSocialMedia ul li a{
    font-size: 1.5vw;
    transition: all 1s;
}

div.myFooterSocialMedia ul li a:hover{
    color: var(--myColor);
    font-size: 2vw;
}

div.FooterLogo{
    padding: 0.8vw 13vw 3vw 10vw;
}
div.FooterLogo a img{
    width: 40%;
    transition: all 1s;
}

div.FooterLogo a img:hover{
    transform: scale(1.2, 1.2);
    opacity: 0.8;
}

div.myFooterCopyRight{
    text-align: center;
    font-size: 1vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    background-color: black;
    margin-bottom: -80px;
}

/* End of footer section */

/* -------------------------------------------------------------------------------------------------------------------------- */

/* NorthArrow */
a.northArrow{
    --offset: 50px;
    margin-top: calc(350vh + var(--offset));
    position: sticky;
    background-color: var(--myColor);
    border-radius: 5px;
    padding: 15px;
    bottom: 20px;
    left: 96%;
}

/* End of northArrow direction */

/* -------------------------------------------------------------------------------------------------------------------------- */




/* Responsive Designs */
@media only screen and (max-width: 1300px) {
    .homeboxesContainer a{
        display: block;
      }
}


@media only screen and (max-width: 1108px) {

/* PreNav Section */

a.preNavExercises div h5{
    font-size: 1.2vw;
}

div.preNavLogin h5 a{
    font-size: 1.2vw;
}

/* End of preNav Section */

/* Navigation bar */

.navlinks ul li a{
    text-decoration: none;
    color: var(--myBackground);
    font-size: 1.25vw;
    font-weight: bold;
    transition: all 1s;
}

ul li.loginlinksLi a{
  font-size: 1.25vw;
}

ul li.loginlinksLi{
    padding: 0.1vw 1.5vw;
}

/* End of navigation bar */
      
  /* About section */

  div.myAbout{
    gap: 9vw;
}

div.left h5{
    font-size: 1.3vw;
}

div.left h2{
  font-size: 2vw;
}

div.left p{
    font-size: 1.6vw;
}


div.right img{
    width: 27vw;
    height: 34vw;
}

button.downloadCV{
    font-size: 1.2vw;
}


/* End of about section */

/* Skills section */

div.mySkills{
    grid-template-columns: auto auto auto;
    gap: 2.3vw;
    padding: 1.2vw;
}

div.skills_text h4{
    font-size: 1.4vw;
}

div.skills_text p{
    font-family: calibri;
    font-size: 1.4vw;
}

/* End of skills section */

/* Services section */

div.myServicesGrids{
    display: flex;
    padding: 11vw 8vw;
}

div.myServicesTitle{
    text-align: center;
    color: white;
    margin-bottom: -8vw;
    padding-top: 60px;
    width: 100%;
}

div.myServicesBoxes{
    text-align: center;
    padding: 1.7vw 1.5vw;
}

div.myServicesBoxes h4{
    font-size: 1.6vw;
}

div.myServicesBoxes p{
    font-size: 1.5vw;
}

div.myServicesBoxes img{
    width: 6vw
}

div.serviceBox3 img{
    width: 10vw;
}
/* End of services section */

/* Contact section */
div.myContact{
    grid-template-columns: 20% 40%;
    justify-content: space-around;
}

div.contactform h2{
    margin: 4vw 4vw 2vw;
}

div.contactform form input, textarea{
    margin-bottom: 1.5vw;
    padding: 1vw;
    border: 2px solid grey;
    border-radius: 10px;
    
}

div.contactform form input[type="submit"]{
    width: 15%;
    font-size: 1.5vw;
    padding: 0.5vw;
    background-color: rgb(39, 38, 38);
    box-shadow: grey;
    color: white;
    transition: all 1s;
}


div.contactpicture{
    margin-top: 15vw;
    width: 100%;
}

div.contactform p{
    font-family: calibri;
    font-size: 1.7vw;
    text-align: center;
}

/* End of contact section */

/* Footer section */

div.myFooterTopForm input[type="email"] {
    padding: 0.8vw 10vw 0.8vw 0.8vw;
}

div.myFooterTopForm input[type="email"]::placeholder{
    font-size: 1.2vw;
}

div.myFooterTopForm input[type="submit"] {
    padding: 0.8vw;
    font-size: 1.2vw;;
}

div.myFooterTop{
    display: grid;
    grid-template-columns: 40% 40%;
    align-items: center;
    gap: 0 4vw;
    padding-left: 5vw;
    padding-top: 3vw;
    background-color: rgb(39, 38, 38);

}

div.myFooterTopBeFirst h3, div.myFooterTopBeFirst p{
    font-size: 1.4vw;
}

div.myFooterBottom{
    display: grid;
    grid-template-columns: 40% 20% 20%;
    justify-content: center;
    gap: 5vw;
    background-color: rgb(39, 38, 38);
    padding-top: 1vw;
    width: 100%;
}

div.myFooterAbout h4{
    font-size: 1.4vw;
}

div.myFooterAbout p{
    font-size: 1.3vw;
}

div.myFooterLinks h4{
    font-size: 1.4vw;
}

div.myFooterLinks{
    padding-right: 3.5vw;
    width: 100%;
}

div.myFooterLinks ul li{
    list-style-type: none;
    margin-left: 2vw;
    transition: all 1s;
}


div.myFooterLinks ul li:hover{
    margin-left: 2.5vw;
}

div.myFooterLinks ul li::before{
    content: ">";
    padding-right: 0.8vw;
    font-weight: bold;
    color: white;
}

div.myFooterLinks ul li a{
    text-decoration: none;
    font-size: 1.22vw;
    line-height: 2.8vw;
}

div.myFooterLinks ul li a:hover{
    font-weight: bold;
}


div.myFooterSocialMedia h4{
    text-align: left;
    padding-left: 3vw;
    padding-bottom: 0.5vw;
    font-size: 1.25vw;
}

div.myFooterSocialMedia ul{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-left: 4vw;
    list-style-type: none;
    justify-content: space-between;
}

div.FooterLogo{
    padding: 0.8vw 13vw 3vw 10vw;
}
div.FooterLogo a img{
    width: 40%;
    transition: all 1s;
}

div.FooterLogo a img:hover{
    transform: scale(1.2, 1.2);
    opacity: 0.8;
}

div.myFooterCopyRight{
    text-align: center;
    font-size: 1vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    background-color: black;
    margin-bottom: -80px;
}

/* End of footer section */


}

@media only screen and (max-width: 937px) {

  /* prenav section */
  div.preNavLogo{
    padding: 0 33% 0 33%;
    width: 100%;
}
    div.preNavLinks{
        display: grid;
        grid-template-columns: 15% 20% 65%;
        align-items: center;
        width: 100%;
    }
    
    div.preNavDocumentation{
        display: unset;
    }
    
    a.preNavExercises div{
        padding: 0;
        font-size: 1rem;
        color: var(--myBackground);
        transition: all 1s;
    }
    
    a.preNavExercises div:hover{
        background-color: unset;
    }
    
    div.preNavDocumentation a div h5{
        transition: all 1s;
  }

  div.preNavDocumentation a div h5::before{
    content: ">";
    padding-right: 10px;
    font-weight: bold;
    color: black;
}

    div.preNavDocumentation a div h5:hover{
          transform: scale(1.1,1.1);
    }

a.preNavExercises div h5{
    font-size: 1.4vw;
}

div.preNavLogin h5 a{
    font-size: 1.4vw;
}

    /* End of prenav section */
    

    /* Navigation Bar section */

    nav{
        display: grid;
        grid-template-columns: 75% 23%;
        align-items: center;
        justify-content: unset;
        gap: 2vw;
        width: 100%;
    }
    .logo a{
        text-decoration: none;
        font-weight: bold;
        font-size: 2vw;
        padding: 0;
        color: var(--myBackground);
    }
    
    .logo {
        text-align: center;
        width: 100%;
    }
    
    .logo a:hover{
        opacity: 0.5;
    }
    
    div.toggleButton{
        display: none;
    }
    
    li.closeButton{
        display: none;
    }
    
    .navlinks ul li{
        list-style-type: none;
    }
    
    .navlinks ul li a{
        text-decoration: none;
        color: var(--myBackground);
        font-size: 1.5vw;
        font-weight: bold;
        transition: all 1s;
    }
    
    .navlinks ul li a:hover{
        color: var(--myColor);
        padding-top: 10px;
        border-top: 3px solid var(--myColor);
    }

    ul li.active a{
    color: var(--myColor);
    padding-top: 10px;
    border-top: 3px solid var(--myColor);
}
    
    ul li.loginlinksLi a{
        font-size: 1.5vw;
      }

    
    
    
    a.loginlinks{
        text-decoration: none;
        text-align: center;
        color: var(--myBackground);
        font-size: 1.5vw;
        font-weight: bold;
    }

    /* End of navigation Bar section */

    /* Home section */

    div.intro p{
        font-size: 5vw;
    }

.profile {
    height: 45vw;
}


/* End of home section */

           /* About section */

     div.myAbout{
       gap: 10vw;
    }

     div.left h5{
         font-size: 1.5vw;
     }

    div.left h2{
      font-size: 2.5vw;
    }

    div.left p{
        font-size: 1.7vw;
    }


    div.right img{
        width: 28vw;
        height: 38vw;
    }

    button.downloadCV{
        font-size: 1.3vw;
    }


/* End of about section */

/* Skills section */

div.mySkills{
    grid-template-columns: auto auto;
    gap: 5vw;
    padding: 1.2vw;
}

div.skills_text h4{
    font-size: 2vw;
}

div.skills_text p{
    font-family: calibri;
    font-size: 1.8vw;
}

div.skills_icons{
    margin-top: -15%;
    width: 100%;
}

div.skills_icons img{
    width: 17.5%;
}

div.skills_icons i{
    color:white;
    font-size: 3vw;
    background-color: var(--myColor);
    padding: 1.3vw;
    border-radius: 50%;
}

/* End of skills section */


/* My work section */
div.myWorkGrids{
    grid-template-columns: auto auto auto;
    padding: 10vw 5vw;
    gap: 3vw;
}

div.myWorkTitle{
   padding: 1vw 2.5vw 3vw; 
}

div.myWorkTitle h2{
    font-size: 2.5vw;
}

div.myWorkTitle p{
    font-size: 1.9vw; 
}

div.myWorkGridBox{
    padding: 1.3vw 1vw 2vw;
}


div.myWorkGridBox h4{
    font-size: 1.7vw;
}

/* End of my work section */

/* Services section */

div.myServicesGrids{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2vw 0;
    padding: 11vw 8vw;
}

div.myServicesTitle{
    text-align: center;
    color: white;
    margin-bottom: -8vw;
    padding-top: 60px;
    width: 100%;
}

div.myServicesBoxes{
    text-align: center;
    padding: 1.7vw 1.7vw;
}

div.myServicesBoxes h4{
    font-size: 2.1vw;
}

div.myServicesBoxes p{
    font-size: 2vw;
}

div.myServicesBoxes img{
    width: 10vw;
}

div.serviceBox3 img{
    width: 16vw;
}
/* End of services section */

/* Contact section */
div.myContact{
    grid-template-columns: 20% 40%;
    justify-content: space-around;
}

div.contactform h2{
    margin: 4vw 4vw 2vw;
}

div.contactform form input, textarea{
    margin-bottom: 1.5vw;
    padding: 1.2vw;
    border: 2px solid grey;
    border-radius: 10px;
    
}

div.contactform form input[type="submit"]{
    width: 15%;
    font-size: 1.4vw;
    padding: 1vw;
    background-color: rgb(39, 38, 38);
    box-shadow: grey;
    color: white;
    transition: all 1s;
}


div.contactpicture{
    margin-top: 15vw;
    width: 100%;
}

div.contactform p{
    font-family: calibri;
    font-size: 2vw;
    text-align: center;
}

/* End of contact section */

/* Footer section */

div.myFooterTopForm input[type="email"] {
    padding: 0.8vw 10vw 0.8vw 0.8vw;
}

div.myFooterTopForm input[type="email"]::placeholder{
    font-size: 1.4vw;
}

div.myFooterTopForm input[type="submit"] {
    padding: 0.8vw;
    font-size: 1.4vw;
}

div.myFooterTop{
    display: grid;
    grid-template-columns: auto;
    gap: 2vw;
    align-items: center;
    padding-left: 5vw;
    padding-top: 3vw;
    background-color: rgb(39, 38, 38);
}

div.myFooterTopBeFirst h3, div.myFooterTopBeFirst p{
    font-size: 1.7vw;
}

div.myFooterBottom{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    background-color: rgb(39, 38, 38);
    padding-top: 1vw;
    width: 100%;
    gap: 1vw;
}

div.myFooterAbout h4{
    font-size: 1.7vw;
}

div.myFooterAbout p{
    font-size: 1.55vw;
}

div.myFooterLinks h4{
    font-size: 1.7vw;
}

div.myFooterLinks{
    width: 100%;
}

div.myFooterLinks ul li{
    list-style-type: none;
    margin-left: 11vw;
    transition: all 1s;
}


div.myFooterLinks ul li:hover{
    margin-left: 11.5vw;
}

div.myFooterLinks ul li::before{
    content: ">";
    padding-right: 0.8vw;
    font-weight: bold;
    color: white;
}

div.myFooterLinks ul li a{
    text-decoration: none;
    font-size: 1.6vw;
    line-height: 3.5vw;
}

div.myFooterLinks ul li a:hover{
    font-weight: bold;
}


div.myFooterSocialMedia h4{
    text-align: left;
    padding-bottom: 0.5vw;
    font-size: 1.7vw;
    margin-left: -3vw;
}

div.myFooterSocialMedia ul{
    display: flex;
    flex-direction: unset;
    list-style-type: none;
    justify-content: space-between;
    margin-left: 0.5vw;
}

div.myFooterSocialMedia ul li a{
    font-size: 2vw;
    transition: all 1s;
}

div.myFooterSocialMedia ul li a:hover{
    color: var(--myColor);
    font-size: 2.5vw;
}

div.FooterLogo{
    padding: 0.8vw 13vw 3vw 10vw;
}
div.FooterLogo a img{
    width: 40%;
    transition: all 1s;
}

div.FooterLogo a img:hover{
    transform: scale(1.2, 1.2);
    opacity: 0.8;
}

div.myFooterCopyRight{
    text-align: center;
    font-size: 1.5vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    background-color: black;
    margin-bottom: -80px;
}

body{
    overflow-x: hidden;
}

/* End of footer section */

}

@media only screen and (max-width: 730px) {

 /*navigation bar section */

 section.preNav {
    display: none;
}

section.nav{
    width: 100%;
}

div.navbar{
    position: relative;
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}

div.toggleButton{
    display: block;
    cursor: pointer;
    font-size: 100%;
}

li.closeButton{
    display: block;
    font-size: 30px;
    padding-left: 200%;
    color: rgb(156, 9, 9);
    cursor: pointer;
}

nav{
display: none;
}

div.navlinks ul{
    position: absolute;
    display: flex;
    background-color: var(--myColor);
    flex-direction: column;
    top: -16px;
    right: 0;
    padding: 10px 70px;
    gap: 30px;
}

a.loginlinks{
    position: absolute;
    display: flex;
    background-color: var(--myColor);
    flex-direction: column;
    top: 387px;
    right: 0;
    padding: 27px 70px;
    gap: 30px;
    font-size: 13px;
    border-radius: unset;
    width: 198.5px;
}

a.loginlinks div{
    transition: all 1s;
}

a.loginlinks div:hover{
    color: white;
    padding-top: 8px;
    border-top: 3px solid white; 
    margin-top: -8px; 
}

ul li.active a{
    color: white;
    padding-top: 10px;
    border-top: 3px solid white;
}

ul li.active a.loginlinks{
    border-top: unset;
    padding-top: 25px;
}

.navlinks ul li a{
    text-align: center;
    font-size: 13px;
}

.navlinks ul li a:hover{
    color: white;
    padding-top: 8px;
    border-top: 3px solid white;
}

div.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    padding: 2vw 5vw;
    gap: 30%;       
}

.logo a{
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
    color: var(--myBackground);
}

ul li.loginlinksLi{
    all: unset;
}

ul li.loginlinksLi:hover{
    color: white;
    background-color: var(--myColor);
}

ul li.loginlinksLi a{
  font-size: 13px;
}

ul li.loginlinksLi a:hover{
    color: white;
}


/* End Navigation bar */


    /* Home section */

    div.intro p{
        font-size: 6vw;
    }

    .profile {
        height: 55vw;
    }
    

    /* End of Home section */



    /* About section */

     div.about{
        padding: 1vw 10vw 1vw 10vw;
    }
    
    div.myAbout{
        grid-template-columns: auto;
        gap: 5vw;
        padding: 5vw;
    }
    
    div.left{
        padding: 0 1.5vw;
    }
    div.left h5{
        font-size: 2vw;
    }
    
    div.left h2{
      font-size: 3.5vw;
    }
    
    div.left p{
        font-size: 2.5vw;
        padding-left: unset;
        padding-right: unset;
    }
    
    div.right img{
        width: 100%;
        height: 100%;
    }
      
    button.downloadCV{
        font-size: 1.8vw;
    }  
    
    /* End of about section */

    /* Services section */

div.mySkills{
    grid-template-columns: auto auto;
    gap: 3vw;
    padding: 1.2vw;
}

div.skills_text h4{
    font-size: 2.3vw;
}

div.skills_text p{
    font-family: calibri;
    font-size: 2.2vw;
}

div.skills_icons{
    margin-top: -14%;
    width: 100%;
}

div.skills_icons i{
    color:white;
    font-size: 3vw;
    background-color: var(--myColor);
    padding: 1.3vw;
    border-radius: 50%;
}

/* End of services section */

/* My work section */
div.myWorkGrids{
    grid-template-columns: auto auto;
    padding: 10vw 5vw;
    gap: 3vw;
}

div.myWorkTitle{
    padding: 2vw 2.5vw 3vw; 
 }
 
 div.myWorkTitle h2{
     font-size: 3vw;
 }
 
 div.myWorkTitle p{
     font-size: 2.3vw; 
 }

div.myWorkGridBox{
    padding: 1.3vw 1vw 2vw;
}


div.myWorkGridBox h4{
    font-size: 2.3vw;
}

div.myWorkDesign{
    display: none;
}

/* End of my work section */

/* Services section */

div.myServicesGrids{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2vw 0;
    padding: 11vw 6vw;
}

div.myServicesTitle{
    text-align: center;
    color: white;
    margin-bottom: -8vw;
    padding-top: 60px;
    width: 100%;
}

div.myServicesBoxes{
    text-align: center;
    padding: 1.7vw 1.8vw;
}

div.myServicesBoxes h4{
    font-size: 2.6vw;
}

div.myServicesBoxes p{
    font-size: 2.5vw;
}

div.myServicesBoxes img{
    width: 10vw;
}

div.serviceBox3 img{
    width: 16vw;
}
/* End of services section */

/* Contact section */
div.myContact{
    grid-template-columns: auto;
    justify-content: center;
}

div.contactform{
  padding: 2vw 10vw;
}

div.contactform h2{
    margin: 4vw 4vw 2vw;
}

div.contactform form input, textarea{
    margin-bottom: 2vw;
    padding: 1.5vw;
    border: 2px solid grey;
    border-radius: 10px;
    
}

div.contactform form input[type="submit"]{
    width: 15%;
    font-size: 2.2vw;
    padding: 1vw;
    background-color: rgb(39, 38, 38);
    box-shadow: grey;
    color: white;
    transition: all 1s;
}


div.contactpicture{
    display: none;
}

div.contactform h2{
    font-size: 4vw;
}

div.contactform p{
    font-family: calibri;
    font-size: 2.7vw;
    text-align: center;
}

/* End of contact section */

/* Footer section */

div.myFooterTopForm input[type="email"] {
    padding: 0.8vw 10vw 0.8vw 0.8vw;
}

div.myFooterTopForm input[type="email"]::placeholder{
    font-size: 1.8vw;
}

div.myFooterTopForm input[type="submit"] {
    padding: 0.8vw;
    font-size: 1.8vw;
}

div.myFooterTop{
    display: grid;
    grid-template-columns: auto;
    gap: 2vw;
    align-items: center;
    padding-left: 5vw;
    padding-top: 3vw;
    background-color: rgb(39, 38, 38);
}

div.myFooterTopBeFirst h3, div.myFooterTopBeFirst p{
    font-size: 2vw;
}

div.myFooterBottom{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    background-color: rgb(39, 38, 38);
    padding-top: 1vw;
    width: 100%;
    gap: 1vw;
}

div.myFooterAbout h4{
    font-size: 2.3vw;
}

div.myFooterAbout p{
    font-size: 1.8vw;
}

div.myFooterLinks h4{
    font-size: 2.3vw;
}

div.myFooterLinks{
    width: 100%;
}

div.myFooterLinks ul li{
    list-style-type: none;
    margin-left: 11vw;
    transition: all 1s;
}


div.myFooterLinks ul li:hover{
    margin-left: 11.5vw;
}

div.myFooterLinks ul li::before{
    content: ">";
    padding-right: 0.8vw;
    font-weight: bold;
    color: white;
}

div.myFooterLinks ul li a{
    text-decoration: none;
    font-size: 1.9vw;
    line-height: 3.5vw;
}

div.myFooterLinks ul li a:hover{
    font-weight: bold;
}


div.myFooterSocialMedia h4{
    text-align: left;
    padding-bottom: 0.5vw;
    font-size: 2.3vw;
}

div.myFooterSocialMedia ul{
    display: flex;
    flex-direction: unset;
    list-style-type: none;
    justify-content: space-between;
    margin-left: 1vw;
}

div.myFooterSocialMedia ul li a{
    font-size: 2.3vw;
    transition: all 1s;
}

div.myFooterSocialMedia ul li a:hover{
    color: var(--myColor);
    font-size: 2.8vw;
}

div.FooterLogo{
    padding: 0.8vw 13vw 3vw 10vw;
}
div.FooterLogo a img{
    width: 50%;
    transition: all 1s;
}

div.FooterLogo a img:hover{
    transform: scale(1.2, 1.2);
    opacity: 0.8;
}

div.myFooterCopyRight{
    text-align: center;
    font-size: 1.5vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    background-color: black;
    margin-bottom: -80px;
}

/* End of footer section */

}



@media only screen and (max-width: 600px) {

    /* ----------------------------------------------------------------------------------------- */

    /* Home section */

    .profile {
        height: 80vw;
    }
    /* End of home section */

    /* -------------------------------------------------------------------------------- */


    /* About section */

    div.left h5{
        font-size: 2.6vw;
    }
    
    div.left h2{
      font-size: 4.1vw;
    }
    
    div.left p{
        font-size: 3vw;
        padding-left: unset;
        padding-right: unset;
    }
      
    button.downloadCV{
        font-size: 2.2vw;
    }  
    
    /* End of about section */


     /* Services section */

section.Skills{
    padding: 4vw 5vw;
    width: 100%;
}

div.mySkillsTitle{
    font-size: 3.2vw;
}

div.mySkills{
    grid-template-columns: auto;
    gap: 5vw;
    padding: 10.3vw;
}

div.skills_text h4{
    font-size: 3.4vw;
}

div.skills_text p{
    font-family: calibri;
    font-size: 3.1vw;
}

div.skills_boxes{
    padding: 7vw 6vw;
    border-radius: 10px;
    margin-top: 1.5vw;
    margin-bottom: 2.4vw;
    cursor: pointer;
}

div.skills_icons{
    margin-top: -20.8%;
    width: 100%;
}

div.skills_icons i{
    color:white;
    font-size: 5vw;
    background-color: var(--myColor);
    padding: 2vw;
    border-radius: 50%;
}

/* End of services section */

    /* -------------------------------------------------------------------------------- */

    /* My work section */
div.myWorkGrids{
    grid-template-columns: auto;
    padding: 12vw 15vw;
    gap: 8vw;
}

div.myWorkTitle{
    padding: 3.5vw 2.5vw 3vw; 
 }
 
 div.myWorkTitle h2{
     font-size: 4vw;
 }
 
 div.myWorkTitle p{
     font-size: 3vw; 
 }

div.myWorkGridBox{
    padding: 1.3vw 1vw 2vw;
}


div.myWorkGridBox h4{
    font-size: 3vw;
}

div.myWorkDesign{
    display: none;
}

/* End of my work section */
    /* -------------------------------------------------------------------------------- */

   /* Services section */

div.myServicesGrids{
    display: grid;
    grid-template-columns: auto;
    gap: unset;
    padding: 11vw 10vw;
}

div.myServicesTitle h3{
    font-size: 4.2vw;
}

div.myServicesTitle p{
    font-size: 3.5vw;
}

div.myServicesBoxes{
    text-align: center;
    padding: 3vw ;
}

div.myServicesBoxes h4{
    font-size: 3.5vw;
}

div.myServicesBoxes p{
    font-size: 3.4vw;
}

div.myServicesBoxes img{
    width: 10vw;
}

div.serviceBox3 img{
    width: 16vw;
}
/* End of services section */

    /* -------------------------------------------------------------------------------- */

    /* Contact section */
div.myContact{
    grid-template-columns: auto;
    justify-content: center;
    padding-bottom: 3vw;
}

div.contactform{
  padding: 2vw 10vw;
}

div.contactform h2{
    margin: 4vw 4vw 2vw;
}

div.contactform form input, textarea{
    margin-bottom: 2vw;
    padding: 1.5vw;
    border: 2px solid grey;
    border-radius: 10px;
    
}

div.contactform form input::placeholder{
    font-size: 2.5vw; 
}

div.contactform form textarea::placeholder{
    font-size: 2.5vw; 
}

div.contactform form input[type="submit"]{
    width: 15%;
    font-size: 2.5vw;
    padding: 1vw;
    background-color: rgb(39, 38, 38);
    box-shadow: grey;
    color: white;
    transition: all 1s;
}


div.contactpicture{
    display: none;
}

div.contactform h2{
    font-size: 4vw;
}

div.contactform p{
    font-family: calibri;
    font-size: 3.3vw;
    text-align: center;
}

/* End of contact section */


    /* -------------------------------------------------------------------------------- */

    /* Footer section */

div.myFooterTopForm input[type="email"] {
    padding: 1vw 10vw 1vw 1vw;
}

div.myFooterTopForm input[type="email"]::placeholder{
    font-size: 2.5vw;
}

div.myFooterTopForm input[type="submit"] {
    padding: 1vw;
    font-size: 2.5vw;
}

div.myFooterTop{
    display: grid;
    grid-template-columns: auto;
    gap: 2vw;
    align-items: center;
    padding-left: 5vw;
    padding-top: 3vw;
    background-color: rgb(39, 38, 38);
}

div.myFooterTopBeFirst h3, div.myFooterTopBeFirst p{
    font-size: 2.7vw;
}

div.myFooterBottom{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    background-color: rgb(39, 38, 38);
    padding: 5vw;
    width: 100%;
    gap: 1vw;
}

div.myFooterAbout h4{
    font-size: 2.7vw;
}

div.myFooterAbout p{
    font-size:2.5vw;
}

div.myFooterLinks h4{
    font-size: 2.3vw;
    margin-left: -50vw;
}

div.myFooterLinks{
    width: 100%;
    margin-left: -10vw;
    padding-right: 0;
}

div.myFooterLinks ul{
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

div.myFooterLinks ul li{
    list-style-type: none;
    transition: all 1s;
}


div.myFooterLinks ul li:hover{
    margin-left: 10vw;
}

div.myFooterLinks ul li::before{
    content: ">";
    padding-right: 1vw;
    font-size: 3vw;
    font-weight: bold;
    color: white;
}

div.myFooterLinks ul li a{
    text-decoration: none;
    font-size: 2.3vw;
    line-height: 3.5vw;
}

div.myFooterLinks ul li a:hover{
    font-weight: bold;
}


div.myFooterSocialMedia h4{
    text-align: left;
    padding-bottom: 0.5vw;
    font-size: 2.7vw;
}

div.myFooterSocialMedia ul{
    display: flex;
    flex-direction: unset;
    list-style-type: none;
    justify-content: space-between;
    margin-left: 1vw;
    padding: 0 15vw 0 7vw;
}

div.myFooterSocialMedia ul li a{
    font-size: 3vw;
    transition: all 1s;
}

div.myFooterSocialMedia ul li a:hover{
    color: var(--myColor);
    font-size: 3.5vw;
}

div.FooterLogo{
    padding: 0.8vw 13vw 3vw 10vw;
}
div.FooterLogo a img{
    width: 15%;
    transition: all 1s;
}

div.FooterLogo a img:hover{
    transform: scale(1.2, 1.2);
    opacity: 0.8;
}

div.myFooterCopyRight{
    text-align: center;
    font-size: 2.5vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    background-color: black;
    margin-bottom: -80px;
}

/* End of footer section */


    /* -------------------------------------------------------------------------------- */

@media only screen and (max-width: 313px) {
    body{
        overflow-x: hidden;
    }
}

    /* End of Responsive Designs */

  
}




